@font-face {
    font-family: "Inter";
    font-display: swap;
    src: local("Inter-Black"), url("../fonts/Inter-Black.woff") format("woff"), url("../fonts/Inter-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}